.idea
composer.lock
*.log
runtime
.htaccess
upload
/application/database.php
public/uploads/ewm/*
vendor/phpqrcode/cache/*
vendor/phpqrcode/cache/
/vendor/phpqrcode/cache/
/public/uploads/*
/public/upload/*
