<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>找回密码</title>
		<script src="__STATIC__/chatWeb/js/public/rem.js"></script>
		<!--public-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css" />
		<!--头部-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/chatWeb/css/login/password.css"/>
	</head>
	<body>
		<div class="wrap_frame">
			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <img class="lb_headWrap_return_img" src="__STATIC__/chatWeb/img/public/left.png"/> 
                </p>
				<span>找回密码</span>
            </div>
            <!--内容-->
            <div class="content">
            	<!--点击下一步前状态-->
            	<div class="shortcut">
            		<!--账号名-->
            		<div class="mobile">
            			<div class="mark">账号名</div>
            			<div class="inp">
            				<input class="text" type="text" placeholder="请输入手机号" id="mobile" />
            			</div>
            		</div>
            		<!--验证码-->
            		<div class="code_wrap">
            			<div class="auth">验证码</div>
            			<div class="inp">
            				<input class="ber name" type="text" placeholder="请输入短信验证码" id="code" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="6" />
            			</div>
            		</div>
            		<!--获取验证码-->
            		<div class="btn_wrap">
        				<input class="gain" type="button" id="btn" value="获取验证码" onclick="settime(this)" />
        			</div>
            		<div class="mobile" style="margin-top: 20px;">
            			<div class="mark">新密码</div>
            			<div class="inp">
            				<input class="text name" type="password" placeholder="请输入6位数字密码" id="pw1" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="6"/>
            			</div>
            		</div>
            		<!--再输入密码-->
            		<div class="mobile">
            			<div class="mark">再输密码</div>
            			<div class="inp">
            				<input class="text name" type="password" placeholder="请输入重置密码" id="pw2" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="6"/>
            			</div>
            		</div>
            	</div>
            	<!--下一步/完成按钮-->
            	<a class="next_btn" onclick="submits()">提交</a>
            </div>
            
		</div>
	{include file="common/footer_js"}
		<script>
			//获取验证码
 			var countdown=60; 
			function settime(val) { 

                var mobile = $("#mobile").val();
                if(mobile==''){
                	layer.msg('请输入正取的手机号');
                	$("#mobile").focus();
        			return false;
                }

				$.ajax({
		            type: "post", 
		            url : "/index/index/smscode",
		            dataType:'json',
		            data: "mobile="+mobile,

		            success: function(json){

		                if(json.flag==1){
		                    layer.msg(json.msg);
		                   
		                }else{
		                    layer.msg(json.msg);
		                    
		                }
		            }
		        });
			}
			

			function submits(){
				var mobile = $("#mobile").val();
				var code = $("#code").val();
				var pw1 = $("#pw1").val();
				var pw2 = $("#pw2").val();
				if(mobile==''){
                	layer.msg('请输入正取的手机号');
                	$("#mobile").focus();
        			return false;
                }
				if(code==''){
                	layer.msg('请输入短信验证码');
                	$("#code").focus();
        			return false;
                }
                if(pw1==''){
                	layer.msg('');
                	$("#pw1").focus();
        			return false;
                }
                if(pw2==''){
                	layer.msg('请确认新密码');
                	$("#pw2").focus();
        			return false;
                }
                if(pw1!=pw2){

                	layer.msg('两次密码输入不一致');
                	$("#pw2").focus();
        			return false;
                }
                $.ajax({
		            type: "post", 
		            url : "/index/index/find_password",
		            dataType:'json',
		            data: "mobile="+mobile+"&code="+code+"&pw1="+pw1+"&pw2="+pw2,

		            success: function(json){

		                if(json.flag==1){
		                    layer.msg(json.msg);
		                    setTimeout(function(){
					    		  self.location="{:url('/index/index')}";
					    	},3000);
 
	
		                   
		                }else{
		                    layer.msg(json.msg);
		                    
		                }
		            }
		        });


			}

		</script>
	</body>
</html>
