<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>我的收益</title>
		<script src="__STATIC__/chatWeb/js/public/rem.js"></script>
		<!--public-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css">
		<!--头部-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/chatWeb/css/news/my/earnings.css"/>
	</head>
	<body>
		<!--最大边框-->
		<div class="wrap_frame">
			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
					<img class="lb_headWrap_return_img" src="__STATIC__/chatWeb/img/public/back@2x.png"/>
				</p>
				<span>我的收益</span>
				<!--跳转-->
				<p class="lb_headWrap_text" onclick="window.location.href = '/index/my/myTeam'">我的团队</p>
            </div>
            <!--内容-->
            <div class="content">
            	<div class="record_wrap">
            		<!---->
            		<div class="record">
            			<h2>我的收益记录</h2>
            			<p>我的团队总人数{$team_num}人</p>
            			<div class="unit">
            				<div class="today">
            					<span class="days">今日收益</span>
            					<span class="tr">{$toDay_income}</span>
            					<span class="ts">元</span>
            				</div>
            				<div class="diana">
            					<span class="days">月总收益</span>
            					<span class="tr">{$month_income}</span>
            					<span class="ts">元</span>
            				</div>
            			</div>
            		</div>
            		<!--昵称栏-->
            		<div class="item_wrap">
            			<ul>
            				<li>昵称</li>
            				<li>佣金</li>
            				<li>下级级别</li>
            				<li>日期</li>
            			</ul>
            		</div>
            		<!--详细-->
            		<div class="list_wrap">
						{foreach name="income_info" item="vo"}
            			<ul>
            				<li>
            					<span>{$vo.nickname}</span>
            				</li>
            				<li>
            					<span>￥</span>
            					<span>
									{$vo.money}
									{if condition="$vo.type eq 3 or $vo.type eq 4"}
									(发)
									{else/}
									(抢)
									{/if}
								</span>
            				</li>
            				<li>
            					<span></span>
            				</li>
            				<li>
								<p>{$vo.create_time|date='Y-m-d',###}</p>
								<p>{$vo.create_time|date='H:i',###}</p>
            				</li>
						</ul>
						{/foreach}
            		</div>
            	</div>
            </div>
        </div>
        
        <script src="__STATIC__/chatWeb/js/public/jquery-1.8.3.js"></script>
		<script src="__STATIC__/chatWeb/js/public/public.js"></script>
	</body>
</html>
