<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>我的团队</title>
		<script src="__STATIC__/chatWeb/js/public/rem.js"></script>
		<!--public-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css">
		<!--头部-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css" />
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/news/my/team.css">
	</head>
	<body>
		<!--最大边框-->
		<div class="wrap_frame">

			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <img class="lb_headWrap_return_img" src="__STATIC__/chatWeb/img/public/back@2x.png"/>
				</p>
				<span>我的团队</span>
            </div>
            
            <div class="team-content">
                <div class="thead">
                    <ul>
                        <li>昵称</li>
                        <li>等级</li>
                        <li>上级</li>
                    </ul>
                </div>
                <div class="tbody">
					<!-- 一级 -->
                    <div class="list-item">
                        <ul>
                        {volist name="list" id="vo"} 
                            <li>
                      
                                <div class="user-name">
									<span class="avatar"><img src="__STATIC__/chatWeb/img/00avatar-01-zp.png"/> </span>
                                    <span class="name">{$vo.nickname}</span>
                                </div>
                                <div class="user-rank">{$vo.level}级</div>
                                <div class="user-superior">王子</div>
							</li>
                        {/volist}  
                        </ul>
					</div>
					
                </div>
            </div>

			
		</div>
		
		<script src="__STATIC__/chatWeb/js/public/jquery-1.8.3.js"></script>
		<script src="__STATIC__/chatWeb/js/public/public.js"></script>
	</body>
</html>

			
