<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>个人资料</title>
		<script src="__STATIC__/chatWeb/js/public/rem.js"></script>
		<!--public-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css" />
		<!--头部-->
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css" />
		<link rel="stylesheet" href="__STATIC__/chatWeb/css/news/my/personal_center.css">	
	</head>
	<body>
		<!--最大边框-->
		<div class="wrap_frame">
			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="/index/message/messageList?showPage=show" onclick="returnFun()">
					<img class="lb_headWrap_return_img" src="__STATIC__/chatWeb/img/public/back@2x.png"/>
				</p>
				<span>个人资料</span>
			</div>

			<!-- 主内容 -->
			<div class="personal-content">
				<ul>
					<li id="avatar">
						<div class="fl">头像</div>
						<div class="fr">
							<span class="text avatar">
								<img src="{$info.head_imgurl}" id="avatarPic">
								<!-- <input type="file" class="avatar-file" > -->
							</span>
							<span class="right-arrow"></span>
						</div>
					</li>
					<li>
						<a href="/index/my/editname">
							<div class="fl">名字</div>
							<div class="fr">
								<span class="text userName" id="nickname">{$info.nickname}</span>
								<span class="right-arrow"></span>
							</div>
						</a>
					</li>
					<li>
						<div class="fl">手机号 : <span class="phone">{$info.mobile}</span></div>
						<div class="fr">
							<span class="right-arrow"></span>
						</div>
					</li>
					<li>
					   <a href="/index/my/myQrCode" class="clearfloat">
						<div class="fl">我的二维码</div>
						<div class="fr">
							<span class="text code-icon">
								<img src="__STATIC__/chatWeb/img/news/my/code-icon.png">
							</span>
							<span class="right-arrow"></span>
						</div>
					</a>
					</li>
				</ul>
			</div>

			<!-- 蒙层 -->
			<div class="mask"></div>
			<!-- 图片上传 -->
			<div class="select-wrap">
				<ul class="select-list">
					<li>
						相机
						<input type="file" id='shotAvatar' accept="image/*" capture='camera' onchange="upLoad(this)">
					</li>
					<li>
						相册
						<input type="file" id="selectAvatar"  onchange="upLoad(this)">
					</li>
				</ul>
				<button class="cancelBtn">取消</button>
				<!-- '创建一个image对象'，给canvas绘制使用 -->
				<canvas id="canvas" style="display: none;"></canvas>
			</div>
			<!-- 图片上传中 -->
			<div class="mask_upImg_wrap">
				<!--加载中-->
				<div class="loadingWrapRq">
					<img class="loadingWrapGif" src="__STATIC__/chatWeb/img/public/loadIcon_gif.gif"/>
					<span>正在保存头像</span>
				</div>
			</div>
			
		</div>
		
{include file="common/footer_js"}

		<script>

			var nickname = $("#nickname").html();
			var img =  $('#avatarPic').attr('src');
			if(nickname =='' || img ==''){
				layer.msg('请完善个人用户信息');
			}

			$(function(){
				
				// 上拉菜单
				$('#avatar').click(function(){
					showSelect();
				})

				$(".mask,.select-list li,.cancelBtn").click(function(){
					hideSelect();
				})

				// 显示上拉菜单
				function showSelect(){
					$(".mask").css("display","block");
					$(".select-wrap").css("bottom","0")
				}

				// 隐藏上拉菜单
				function hideSelect(){
					$(".mask").css("display","none");
					$(".select-wrap").css("bottom","-100%")
				}

				/**
				 * 更换头像头像
				 * **/
				//  $("#selectAvatar,#shotAvatar").change(function (e) {
			    //     for (var i = 0; i < e.target.files.length; i++) {
			    //         var file = e.target.files.item(i);
			    //         //验证是否为图片，不是就跳出循环
			    //         if (!(/^image\/.*$/i.test(file.type))) {
			    //             alert("请选择图片上传！")
			    //             continue;
			    //         }
			    //         //实例化FileReader API  
			    //         var freader = new FileReader();
			    //         freader.readAsDataURL(file);
			    //         freader.onload = function (e) {

			    //         	if(e.target.result!=''){
				// 				$(".mask_wrap").show();
			    //         		$.ajax({
				// 		            type: "post", 
				// 		            url : "/index/my/sub_photo",
				// 		            dataType:'json',
				// 		            data: "photo="+e.target.result,

				// 		            success: function(json){

				// 		                if(json.flag==1){
				// 							$(".mask_wrap").hide();
				// 							$("#avatarPic").attr("src", e.target.result);  //显示图片
				// 		                    layer.msg(json.msg);
				// 		                    // setTimeout(function(){
				// 	  						// 	self.location="{:url('/index/my/personInfo')}";
				// 							// },2000);
				// 		                }else{
				// 							$(".mask").hide();
				// 							layer.msg(json.msg);
				// 		                }
				// 					},
				// 					error: function(err){
				// 						$(".mask_wrap").hide();
				// 					}
				// 		        });	

			    //         	}	


			                

			    //         }
			    //     }
				// });
				
				

				// 从本地数据中获取修改后的昵称
				// var userName = localStorage["userName"]; 		
				// $(".userName").html(userName) 
				
			})

			/*上传头像图片*/
			function upLoad(e) { 
				if(e.files[0]){
					var f = e.files[0];  
					fileType = f.type;  
					if(/image\/\w+/.test(fileType)) {  
						var fileReader = new FileReader();  
						fileReader.readAsDataURL(f);  
						fileReader.onload = function(event) {  
							var result = event.target.result; //返回的dataURL   
							var image = new Image();  
							image.src = result;  
							//若图片大小大于1M，压缩后再上传，否则直接上传  
							if(f.size>1024*1024){     
									image.onload = function() { 
									//创建一个image对象，给canvas绘制使用
									var canvas = document.getElementById("canvas"); 
									canvas.width = image.width;  
									canvas.height = image.height; //计算等比缩小后图片宽高   
									var ctx = canvas.getContext('2d');  
									ctx.drawImage(this, 0, 0, canvas.width, canvas.height);  
									var newImageData = canvas.toDataURL(fileType, 0.8); //重新生成图片
									/* 图片 回显*/
									// $("#avatarPic").attr("src",newImageData); 
									$("#canvas").hide();
									/**传base64图片给后台*/
									base_image(result);
								}  
							}else{  
								//创建一个image对象，给canvas绘制使用 
								image.onload = function() { 
									/* 图片 回显*/
									// $("#avatarPic").attr("src",result);  
									base_image(result);
								}  
							}  
						}  
					} else {  
						alert("请选择图片");  
					}  
					
				}else {
					console.log('取消选择图片！')
				}
			}  

			/**base64图片=> 后台*/
			function base_image(_base){
				/**上传中，遮罩层*/
				$(".mask_upImg_wrap").show();
				$.ajax({
					type: "post", 
					url : "/index/my/sub_photo",
					dataType:'json',
					data: "photo="+ _base,
					success: function(json){
						if(json.flag==1){
							$(".mask_upImg_wrap").hide();
							/* 图片 回显*/
							$("#avatarPic").attr("src",_base);  ; 
							layer.msg(json.msg);
							// setTimeout(function(){
							// 	self.location="{:url('/index/my/personInfo')}";
							// },2000);
						}else{
							$(".mask_upImg_wrap").hide();
							layer.msg(json.msg);
						}
					},
					error: function(err){
						$(".mask_upImg_wrap").hide();
					}
				});	
			}
		</script>
	</body>
</html>
