<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title class="pageTopTitle" page-id="0"></title>
	<script src="__STATIC__/chatWeb/js/public/rem.js"></script>
	<!-- 删除 插件 -->
	<!-- <link href="__STATIC__/chatWeb/css/news/mui.min.css" rel="stylesheet"> -->
	<!--public-->
	<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css" />
	<!--头部-->
	<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css" />
	<link rel="stylesheet" href="__STATIC__/chatWeb/css/public/bottom_nav.css" />
	<link rel="stylesheet" href="__STATIC__/chatWeb/css/news/news.css?v=201906011047" />
	
</head>

<body onload="connect();">
	<div class="new_wrapper">
		<!-- 侧边 页面,data-start='show'=>未-滑动到侧边页面，data-start='hide'=>已-滑动到侧边页面-->
		<div id="measure_wrap" data-start='show'>	
			<div class="person_message">
				<div class="person_message_my">
					<span class="personInfo" data-url="/index/my/personInfo">我的</span>
				</div>
				
				<!-- 关闭-按钮 绝对定位 -->
				<div class="person_message_close" onclick="head_portrait_hide()" style="position: absolute;width: 1rem;height: 1rem;top: 0;right: 0;z-index:1;">
					<img src="__STATIC__/chatWeb/img/news/close@2x.png" class="close" />
				</div>

				<div class="person_message_img">
					<img src="{$user['head_imgurl']}" class="touxiang page_trrem" data-url="./my/personal_center/personal_center.html"/>

					<span class="nickname publicEllipsis">{$user['nickname']}</span><br/>
					<span class="my_number">{$user['mobile']}</span>
					<!-- <img src="__STATIC__/chatWeb/img/news/qr_code1@2x.png" class="my_qrcodeyf" data-url="./my/my_inviteCode.html" /> -->
				</div>

			</div>
			<!--列表区域-->
			<div class="list_ear">

				<div class="first_ear first_ear_bottom_box page_trrem" onclick="window.location.href = '/index/my/myWallet'">

					<img src="__STATIC__/chatWeb/img/news/wallet@2x.png" class="img_left" />
					<span>我的钱包</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />

				</div>
				<div class="first_ear first_ear_bottom_box page_trrem" onclick="window.location.href = '/index/recharge/tixian.html'">
					<img src="__STATIC__/chatWeb/img/news/withdrawal@2x.png" class="img_left" />
					<span>提现</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />
				</div>
				<!--<div class="first_ear page_trrem" data-url="/index/my/personInfo">
					<img src="__STATIC__/chatWeb/img/news/account@2x.png" class="img_left" />
					<span>账号管理</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />
				</div> -->
				<div class="first_ear page_trrem" onclick="window.location.href = '/index/my/myTeamIncome'">
					<img src="__STATIC__/chatWeb/img/news/team@2x.png" class="img_left" />
					<span>我的代理团队</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />
				</div>
				<div class="first_ear first_ear_bottom_box page_trrem"  onclick="window.location.href = '/index/my/myQrCode'">
					<img src="__STATIC__/chatWeb/img/news/Qr code3@2x.png" class="img_left" />
					<span>邀请二维码</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />
				</div>

				<div class="first_ear page_trrem" onclick="window.location.href = '/index/my/activityCenter'">

					<img src="__STATIC__/chatWeb/img/news/activity@2x.png" class="img_left" />
					<span>活动中心</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />

				</div>
				<div class="first_ear page_trrem"  onclick="window.location.href = '/index/my/mySet'">
					<img src="__STATIC__/chatWeb/img/news/Set@2x.png" class="img_left" />
					<span>设置</span>
					<img src="__STATIC__/chatWeb/img/news/arrow@2x.png" class="img_right" />
				</div>


			</div>

		</div>

		<!--主界面部分（信息-模块）-->
		<div id="news_wrap">
			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" onclick="head_portrait();" style="cursor :pointer;">
					<img class="lb_headWrap_return_img touxx"  onclick="head_portrait();" style="cursor :pointer;" src="{$user['head_imgurl']}" />
				</p>
				<span>信息</span>
				<p class="lb_headWrap_share" onclick="click_add()" style="cursor :pointer;">
					<img class="lb_headWrap_return_img" style="cursor :pointer;" src="__STATIC__/chatWeb/img/public/Plus sign@2x.png" />
				</p>
			</div>

			<!--mask遮罩层-->
			<div class="mask" onclick="click_add_hide();">

				<div class="mask_son">
					<!--<img src="__STATIC__/chatWeb/img/news/d.png" class="jiantou" />-->

					<div class="jiasaosao">
						<!--向上-三角形-->
						<p class="triangle_border_up"></p>
						<div class="qunliao_item" data-url="" style="cursor:pointer">
							<p class="qunliao_item_icon_box">
								<img src="__STATIC__/chatWeb/img/news/qunliao@2x.png" class="qunliao_item_icon" />
							</p>
							<span class="qunliao_item_text">创建群聊</span>
						</div>
						<div class="qunliao_item" data-url="/index/my/add_friend">
							<p class="qunliao_item_icon_box">
								<img src="__STATIC__/chatWeb/img/news/jiahaoyou@2x.png" class="qunliao_item_icon qunliao_item_icon2" />
							</p>
							<span class="qunliao_item_text">添加好友</span>
						</div>
						<div class="qunliao_item" data-url="">
							<p class="qunliao_item_icon_box">
								<img src="__STATIC__/chatWeb/img/news/saoyisao@2x.png" class="qunliao_item_icon qunliao_item_icon3" />
							</p>
							<span class="qunliao_item_text">扫一扫</span>
							<!-- <input class="qunliao_item_text" type="file" accept="image/*" capture="camera"> -->
						</div>
					</div>
				</div>
			</div>

			<!-- 搜索 -->
			<div class="search">
				<form action="#">
					<input class="search-input" type="text">
					<span class="search-tip">搜索</span>
				</form>
			</div>
			{foreach name="group_list" item="v" key="k"}
			{if condition="$v.id eq 1 or $v.id eq 2"}
			<div class="chat chat1 group_chat" style="cursor:pointer;" data-url="{$v.group_chat_url}&fromid={$fromid}&group_name={$v.name}" >
				<div class="chat_img">
					<img src="__STATIC__/{$v.img}" />
				</div>
				<div class="chat_text">

					<p class="chat_name publicEllipsis">{$v.name}</p>
					<p class="chat_context">本群为扫雷游戏群，快来争取大量佣金。。。</p>
				</div>
				<div class="chat_time group_send_time" style="display: none;" data-room-id="{$v.id}">
					<p class="chat_timer group_chat_time"></p>
					<p class="chat_message group_chat_message">0</p>
				</div>
			</div>
			{else/}
			<div class="chat chat1 system_notice_list go_system_notice" data-url="{$v.group_chat_url}">
				<div class="chat_img">
					<img src="__STATIC__/{$v.img}" />
				</div>
				<div class="chat_text">

					<p class="chat_name publicEllipsis">{$v.name}</p>
					<p class="chat_context system_notice"></p>
				</div>
				<div class="chat_time send_system_notice" style="display: none;">
					<p class="chat_timer system_notice_time"></p>
					<p class="chat_message system_notice_num">0</p>
				</div>
			</div>	
			{/if}
			{/foreach}
			<div class="chat_list friendChat">
				<!-- 追加元素，一对一聊天列表 -->
			</div>

			<!-- 底部导航 -->
			<div class="bottomNavWrap container" id="bottomNavWrap" data-id="0"></div>
				
		</div>
	</div>
		<audio id="audio">
			<source src="__STATIC__/chatWeb/img/news/tips.mp3">
		</audio>
		<script src="__STATIC__/chatWeb/js/public/jquery-1.8.3.js"></script>
		<!-- 删除 插件 STATIC__/chatWeb/js/public/public.js"></script> -->
		<!--公共底部导航栏-->
		<script src="__STATIC__/chatWeb/js/public/bottom_nav.js"></script>
		<!--<script src="__STATIC__/chatWeb/js/news/news.js"></script>-->
		<script>
			var API_URL = "/index.php/api/chat/"; // 请求地址
			var fromid ={$fromid};
			 getLastNotice();

			// // 连接服务端
			function connect() {
				console.log('连接服务端1');
				// 创建全局websocket
				ws =  new WebSocket("ws://103.80.135.117:8282");
				// 当socket连接打开时
				ws.onopen = login;
				// 当有消息时根据消息类型显示不同信息
				ws.onmessage = onmessage;
				ws.onclose = function() {
					console.log("连接关闭，定时重连...");
					connect();
				};
				ws.onerror = function() {
					console.log("出现错误");
				};
			}
		
			function login(){
				console.log('发送登录到ws');
				// 登录
				var login_data = '{"type":"login","fromid":'+fromid+'}';
				console.log("websocket握手成功，发送登录数据:"+login_data);
				ws.send(login_data);
			}

			// 服务端发来消息时,根据业务类型type处理客户端页面相应业务
			function onmessage(e){

				var message = eval("("+ e.data+")");
				switch (message.type){
					// 服务端ping客户端
					case 'ping':
						ws.send('{"type":"pong"}');
                		break;
					case  "init":
						var bild = '{"type":"bind","fromid":"'+fromid+'"}';
						ws.send(bild);
						$(".friendChat").html("");
						list();
						return;
					case "text":
						$(".friendChat").html("");
						list();
						$('#audio')[0].play();
						if (navigator.vibrate) {
							navigator.vibrate([200,50,200]);
						} else if (navigator.webkitVibrate) {
							navigator.webkitVibrate([200,50,200]);
						}
						return;
					case "say_img":
						$(".friendChat").html("");
						list();
						$('#audio')[0].play();
						if (navigator.vibrate) {
							navigator.vibrate([200,50,200]);
						} else if (navigator.webkitVibrate) {
							navigator.webkitVibrate([200,50,200]);
						}
						return;
					// 群发红包
					case "group_send_red":
   						var group_list = <?php echo json_encode($group_list);?>;
						group_list = eval(group_list);
						$.each(group_list,function(index,content){
							if(content.id == message.room_id){
								$('.group_send_time').eq(index).show();
								$('.group_chat_time').eq(index).html(message.time);
								$('.chat_context').eq(index).html(message.from_name+'发了红包');
								var num = $('.group_chat_message').eq(index).html();
								num++;
								$('.group_chat_message').eq(index).html(num);
							}
						});

						$('#audio')[0].play();
						if (navigator.vibrate) {
							navigator.vibrate([200,50,200]);
						} else if (navigator.webkitVibrate) {
							navigator.webkitVibrate([200,50,200]);
						}
						return;
					case "system_notice":
		                // console.log('系统公告');
		                var group_list = <?php echo json_encode($group_list);?>;
						group_list = eval(group_list);
						$.each(group_list,function(index,content){
							if(content.id == message.room_id){
								$('.send_system_notice').show();
								$('.system_notice_time').html(message.time);
								$('.system_notice').html(message.content);
								$('.system_notice_num').css('display','block');
								var num = $('.system_notice_num').html();
								num++;
								$('.system_notice_num').html(num);
							}
						});

						$('#audio')[0].play();
						if (navigator.vibrate) {
							navigator.vibrate([200,50,200]);
						} else if (navigator.webkitVibrate) {
							navigator.webkitVibrate([200,50,200]);
						}
		                return;
				}
			}
			/* ajax 请求 -s */
			function list(){
				$.ajax({
					type: "POST", 
					url: API_URL+"get_list",   
				    dataType: "json",  
				    async: true, /*是否异步请求，默认:异步*/
				    data: {"id":fromid},   
				    success:function(_data){
						/**拼接标签*/
						var str = '';
						/**把跳转路径 /index/ => '/index/' */
						var href_url = '';
						for(var i=0;i<_data.length;i++){
							str = '';
							href_url =  "'" + _data[i].chat_page + "'";
							console.log(_data[i]['countNoread']);
							if(_data[i]['countNoread'] == 0){
								str += '<div class="chat chat3" onclick="window.location.href='+ href_url +'">'
										+ '<div class="chat_img">'
										+ '<img src="'+ _data[i].head_url +'" />'
										+ '</div>'
										+ '<div class="chat_text">'
										+ '<p class="chat_name publicEllipsis">' +_data[i].username +'</p>'
										+ '<p class="chat_context">'+ _data[i].last_message.content +'</p>'
										+ '</div>'
										+ '<div class="chat_time">'
										+ '<p class="chat_timer">'+ mydate(_data[i].last_message.time) +'</p>'
										+ '</div>'
										+ '</div>'
							} else {
								// 有未读消息显示
								str += '<div class="chat chat3" onclick="window.location.href='+ href_url +'">'
									+ '<div class="chat_img">'
									+ '<img src="'+ _data[i].head_url +'" />'
									+ '</div>'
									+ '<div class="chat_text">'
									+ '<p class="chat_name publicEllipsis">'+ _data[i].username +'</p>'
									+ '<p class="chat_context">'+ _data[i].last_message.content +'</p>'
									+ '</div>'
									+ '<div class="chat_time">'
									+ '<p class="chat_timer">'+ mydate(_data[i].last_message.time) +'</p>'
									+ '<p class="chat_message gray">'+ _data[i].countNoread +'</p>'
									+ '</div>'
									+ '</div>'
							}
							/*追加-元素*/
							$('.friendChat').append(str);
						}
				    },
				    error:function(err){
						layer.msg('数据请求失败:'+ err);
				    }
				})
			}

			/**
			*根据时间戳格式化为日期形式
			*/
			function mydate(nS){

				return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
			}
			/** 页面左右切换 -s */
			/*存储-当前滚动条的位置*/
			var newsScrollNum = 0;
			/**侧边页面-元素*/
			var side_eve = $('#measure_wrap');
			//限制 频繁滑动
			var start_slip = true;
			/**当前url*/
			var this_url = window.location.href.split('showPage=')[1];
			/**根据传回的url是否有show=>唤起-我的页面*/
			if(this_url && this_url.indexOf('show') != -1){
				start_slip = false;
				side_eve.css({'left':0});
				$('#news_wrap').css({
					'position':'fixed',
					'top': 0,
					'left': 0,
					'display': 'none',
				});
				start_slip = true;
				/*改变-当前滑动状态*/
				side_eve.attr('data-start',2);
			}
			/*左滑动=> 参数:'yes'、右滑动=> 参数:'no'*/
			function deviation(_start){
				start_slip = false;
				/*右滑动*/
				if(_start == 'show'){
					/*获取当前滚动条的位置*/
					newsScrollNum = $(document).scrollTop();
					/*右切换*/
					side_eve.animate({'left':0},300,function(){
						/*设置为fixed之后会飘到顶部，所以要动态计算当前用户所在高度**/
						$('#news_wrap').css({
							'position':'fixed',
							'top': -newsScrollNum,
							'left': 0,
							'display': 'none',
						});
						start_slip = true;
						/*改变-当前滑动状态*/
						side_eve.attr('data-start',2);
						console.log('往右滑动',side_eve.attr('data-start'));
					});
					return false;
				}
				if(_start == 'hide'){
					/*恢复-主页的滑动*/
					$('#news_wrap').css({
						'position':'',
						'top': '',
						'left': '',
						'display': 'inherit',
					});
					console.log('回复-之前-滚动位置',newsScrollNum);
					/*恢复当前用户滚动的位置！*/
					$(document).scrollTop(newsScrollNum);
					side_eve.animate({'left':'-100%'},300,function(){
						start_slip = true;
						side_eve.attr('data-start',1);
						console.log('往左滑动',side_eve.attr('data-start'));
					});
					return false;
				}
			}
			/** 页面左右切换 -e */

			// 点击跳转到群页面
			$('.group_chat').on('click',function(){
				window.location.href = $(this).attr('data-url');
				var group_list = <?php echo json_encode($group_list);?>;
				group_list = eval(group_list);
				$.each(group_list,function(index,content){

					// if(content.id == index){
						$('.group_send_time').eq(index).hide();
						$('.group_chat_time').eq(index).html('');
						// $('.chat_context').eq(index).html('');
						$('.group_chat_message').eq(index).html(0);
					// }
				});
			});

			// 跳转到公告
			$('.go_system_notice').on('click', function(){
				window.location.href = $(this).attr('data-url');
			});
			//搜索框
			$(".search-input").focus(function() {
				$(".search-tip").hide();
			}).blur(function() {
				var val = $(this).val();
				if(val != "") {
					$(".search-tip").hide();
				} else {
					$(".search-tip").show();
				}
			})
			//点击头像,左侧出现
			function head_portrait(){
				deviation('show');
				return false;
			}
			//点击关闭按钮,左侧消失
			function head_portrait_hide(){
				deviation('hide');
				/**防止，在消息页面刷新时，还在'我的'页面中*/
				window.location.href ='/index/message/messageList';
				return false;
			}
			/** '+'号 按钮*/
			function click_add(){
				$(".mask").show();
				$(".mask_son").slideDown();
				return false;
			}
			/**隐藏-创建群聊*/

			function click_add_hide(){
				$(".mask").hide();
				return false;
			}
		
			/*跳转-二维码链接*/
			$('.my_qrcodeyf').on('click', function() {
				window.location.href = $(this).attr('data-url');
			})


			//点击显示个人信息
			$(".personInfo").on('click', function(event) {
				window.location.href = $(this).attr('data-url');
			});
			//点击显示添加好友
			$(".qunliao_item").on('click', function(event) {
				window.location.href = $(this).attr('data-url');
			});

			function getLastNotice(){

		        $.post(
		            "/index/message/getLastNotice",
		            function(msg){
		                $('.send_system_notice').show();
			            $('.system_notice_time').html(msg.time);
			            $('.system_notice').html(msg.content);
			            $('.system_notice_num').css('display','none');
						
		            },'json'
		        )
		    }   
		</script>

</body>

</html>