<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />    
	<script src="__STATIC__/chatWeb/js/public/rem.js"></script>    
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css">
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css">
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/news/dialog.css">
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/news/jquery.sinaEmotion.css" />

    <title>公告列表</title>
    <style>
        /*qq表情框样式*/
        .qqFace { margin-top: -180px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
        .qqFace table td { padding: 0px; }
        .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
        .qqFace table td img:hover { border: 1px #0066cc solid; }
    </style>
</head>

<body>
   <div class="wrap_frame">
        <!--public head-->
        <div class="lb_headWrap">
            <p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                <img class="lb_headWrap_return_img" src="__STATIC__/chatWeb/img/public/left.png"/>
            </p>
          <!--   <p class="lb_headWrap_dialog">
                <span class="lb_headWrap_dialog_text">99+</span>
            </p> -->
            <span class="title_name">平台公告</span>
           <!--  <p class="lb_headWrap_remove">
                <img class="lb_headWrap_remove_img" src="__STATIC__/chatWeb/img/news/remove.png">
            </p> -->
        </div>
        <!-- 聊天内容 -->
        <div class="dialog_content">
            <div class="dialog_content_time">
                <!-- 昨天 22:22 -->
            </div>
            <!-- 对方消息 -->
            
            <!-- 本人消息 -->
            <!-- append -->

            <!-- 本人转账 -->
            
            <!-- 对方转账 -->
          
            <!-- 本人收款 -->
            
            <!-- 对方收款 -->
        </div>

        <!-- 转账 -->
        
        <!-- 放大后的图片 -->
        <div class="magnify_mask">
            <img class="magnify" src="">
        </div>
        <!-- 底部菜单 -->
       
        <!--(数字-键盘)底部弹窗（蒙版）body-->
        
    </div>
    <audio id="audio">
        <source src="__STATIC__/chatWeb/img/news/tips.mp3">
    </audio>
    {include file="common/footer_js"}
    <script src="__STATIC__/chatWeb/js/news/dialog.js"></script>
    <script src="__STATIC__/qqFace/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/chatWeb/js/news/jquery.sinaEmotion.js"></script>


<script type="text/javascript">
    /*滚动到底部*/
    function scrollToEnd(){ 
        var h = $(document).height()-$(window).height();
        $(document).scrollTop(h); 
    }

    var fromid  = {$room_id};

    get_notice_list();
 
    var API_URL = "/index.php/api/chat/"; // 请求地址
    var domain = 'http://'+document.domain+'/upload/chat_img/'; // 图片路径

    // 连接服务端
    var ws =  new WebSocket("{$websocket_url}");
    ws.onopen = function() {
        // var msg_obj = { "type": "send_system_notice", "content": 1222,};
        // var msg = JSON.stringify(msg_obj);
        // ws.send(msg);
    };
    
    // 服务端发来消息时,根据业务类型type处理客户端页面相应业务
    ws.onmessage = function(e) {

        var message = JSON.parse(e.data);
        console.log(e.data);
        switch (message.type){
            // 服务端ping客户端
            case 'ping':
                ws.send('{"type":"pong"}');
                break;

            // 收到服务器推送过来的init初始化后,发送bind信息到服务器端进行uid和客户端id绑定
            case "init":
                var bind = '{"type":"bind","fromid":"'+fromid+'"}';
                ws.send(bind);
                return;

            // 向当前页面追加普通文本内容并显示
            case 'system_notice':
                console.log(122132);
                
                var str = '';
                str += '<div class="dialog_content_opposite clearfloat">'
                    + '<div class="dialog_content_opposite_imgwrap">'
                    + '<img class="dialog_content_opposite_img" src="/static/chatWeb/img/news/Announcement@2x.png" alt="">'
                    + '</div>'
                    + '<div class="dialog_content_opposite_info">'
                    + '<div class="dialog_content_opposite_name">'+'平台公告 '+message.time+'</div>'
                    + '<div class="dialog_content_opposite_text">'
                    + AnalyticEmotion(message.content)+'</div></div></div>'
                $('.dialog_content').append(str);
                    console.log(str);

                $('html, body').animate({
                    scrollTop: $('html, body').height()
                }, 'slow');
                $('#audio')[0].play();
                if (navigator.vibrate) {
                    navigator.vibrate([200,50,200]);
                } else if (navigator.webkitVibrate) {
                    navigator.webkitVibrate([200,50,200]);
                }
                return;

            case "say_img":
                // 接收图片
                if(toid==message.fromid) {
                    var str = '';
                    str +='<div class="dialog_content_opposite clearfloat">'
                        +'<div class="dialog_content_opposite_imgwrap">'
                        +'<img class="dialog_content_opposite_img" src="/static/chatWeb/img/news/Announcement@2x.png" alt="">'
                        +'</div>'
                        +'<div class="dialog_content_opposite_info">'
                        +'<div class="dialog_content_opposite_name">'+'平台公告 '+message.time+'</div>'
                        +'<div class="dialog_content_opposite_textimg">'
                        +'<img class="dialog_content_opposite_img" src="'+domain+message.img_name+'" alt="">'
                        +'</div>'
                        +'</div>'
                        +'</div>'
                    $('.dialog_content').append(str);
                    $('html, body').animate({
                        scrollTop: $('html, body').height()
                    }, 'slow');
                    $('#audio')[0].play();
                    if (navigator.vibrate) {
                        navigator.vibrate([200,50,200]);
                    } else if (navigator.webkitVibrate) {
                        navigator.webkitVibrate([200,50,200]);
                    }
                }
                return;
        }
    }

    //输入框按下
    $('.dialog_menu_input').keyup(function(){
        $(".dialog_menu_input1").html($(this).html())
    });

    // 获取公告列表数据
    function  get_notice_list(){
        $.post(
            "/index/message/getNoticeList",
            function(e){
                $.each(e,function(index,content){
                    // type=1文本 2图片
                    // 页面左边
                    if(content.type==2){
                        var str = '';
                        str +='<div class="dialog_content_opposite clearfloat">'
                            +'<div class="dialog_content_opposite_imgwrap">'
                            +'<img class="dialog_content_opposite_img" src="/static/chatWeb/img/news/Announcement@2x.png" alt="">'
                            +'</div>'
                            +'<div class="dialog_content_opposite_info">'
                            +'<div class="dialog_content_opposite_name">'+'平台公告 '+content.time+'</div>'
                            +'<div class="dialog_content_opposite_textimg">'
                            +'<img class="dialog_content_opposite_img" src="'+domain+content.content+'" alt="">'
                            +'</div>'
                            +'</div>'
                            +'</div>'
                        $('.dialog_content').append(str);
                    }else if(content.type==1){
                        var str = '';
                        str += '<div class="dialog_content_opposite clearfloat">'
                            + '<div class="dialog_content_opposite_imgwrap">'
                            + '<img class="dialog_content_opposite_img" src="/static/chatWeb/img/news/Announcement@2x.png" alt="">'
                            + '</div>'
                            + '<div class="dialog_content_opposite_info">'
                            + '<div class="dialog_content_opposite_name">'+'平台公告 '+content.time+'</div>'
                            + '<div class="dialog_content_opposite_text">'
                            + AnalyticEmotion(content.content)+'</div></div></div>'
                        $('.dialog_content').append(str);

                    }
                    scrollToEnd();
                })
            },'json'
        );
    }   

    // 把内容替换,查看表情结果
    function replace_em(str){
        str = str.replace(/\</g,'&lt;');
        str = str.replace(/\>/g,'&gt;');
        str = str.replace(/\n/g,'<br/>');
        str = str.replace(/\[em_([0-9]*)\]/g,'<img src="__STATIC__/qqFace/arclist/$1.gif" border="0" />');
        return str;
    }
</script>
</body>
</html>