<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="stylesheet" href="__STATIC__/layer-v3.1.1/layer/mobile/need/layer.css" />    
    <title></title>
</head>
<body>
    {include file="common/footer_js"}
<script type="text/javascript">
    
	layer.msg('{$info.msg}');
    setTimeout(function(){
		  self.location="{$info.url}";
	},2000);

</script>

</body>
</html>