{extend name="common:base" /}
{block name="content"}
<style>
    .table thead tr th{
        text-align: center;
    }
    .red{
        color:red;
    }
    .myModel {
            position: absolute;
            top: 25%;
            left: 25%;
            display: none;
            background-color: rgba(9, 9, 9, 0.63);
            width: 50%;
            height: 50%;
            z-index: 1000;
        }

  .model-content {
      width: 100%;
      text-align: center;
      background: #ffffff;
      border-radius: 6px;
      margin: 100px auto;
      line-height: 30px;
      z-index: 10001;
  }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>充值待审列表</h5>
                    <a style="float:right; font-size:12px;padding-right: 20px;" href="javascript:void(0);" onclick="javascript:window.location.replace(location.href);"><i class="glyphicon glyphicon-refresh"></i></a>

                </div>
                <div class="ibox-content" method="GET">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputEmail2" class="sr-only">会员昵称</label>
                            <input type="text" placeholder="请输入会员昵称" name="name" id="name"
                                    class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2" class="sr-only">手机号</label>
                            <input type="text" placeholder="请输入手机号" name="mobile" id="mobile"
                                    class="form-control" value="">
                        </div>
                        <button class="btn btn-white" type="submit">搜索</button>
                        <a class="btn btn-default" onclick="cls()">清空</a>
                    </form>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover table-bordered text-center">
                        <thead>
                            <tr>
                                <th width="60">ID</th>
                                <th width="100">充值单号</th>
                                <th width="100">用户名称</th>
                                <th width="100">手机号</th>
                                <th width="100">充值金额</th>
                                <th width="60">充值凭证</th>
                                <th width="100">充值时间</th>
                                <th width="100">充值方式</th>
                                <th width="100">状态</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.ordersn}</td>
                                <td>{$vo.nickname}</td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.amount}</td>
                                <!-- <td><img src="../../{$vo.proof}" width="20px" id="{vo.id}" onclick="bigImg(this)" ondblclick="normalImg(this)"></td> -->
 <!--                                <td>
                                    <button onclick="showModel({$vo.id})">查看详情</button>
                                      <div id="myModel_{$vo.id}" onclick="closeModel()" class="myModel">
                                        <div class="model-content">
                                          <p>充值凭证：</p>
                                          <img src="../../{$vo.proof}" height="300px" >
                                          <p> <button id="closeModel" onclick="closeModel({$vo.id})">返回</button></p>
                                         
                                        </div>
                                      </div>
                                </td> -->
                                <td><button onclick="detail('../../{$vo.proof}')">查看详情</button></td>
                                <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
                                <td>
                                    {if condition="$vo.type eq 1"}
                                        支付宝
                                    {elseif condition="$vo.type eq 2"}
                                         微信 
                                    {/if}

                                </td>
                                <td>待充值</td>
                                <td><a onclick="recharge('{$vo.id}')">通过</a>/<a onclick="cancel('{$vo.id}')">驳回</a></td>    
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
</div>
<div align="center">{$page}</div>
<script type="text/javascript">
    function cls(){
        
       $("input").val("").focus(); // 清空并获得焦点     


    }
    function recharge(id){
        // alert(amount);
        layer.open({
            title:'账户充值',
            type:2,
            content:'/admin/users/recharge?id='+id,
            area:['850px','600px'],
        });
    }

    function cancel(id){
        layer.msg(id);

    }

    function success(){
        layer.msg('保存成功！正在跳转...',{icon:6});
        setTimeout(function(){
            parent.openClose();
        },1000);
    }    

    function bigImg(x){

        x.style.width="180px";
    }

    function normalImg(x){
  
        x.style.width="20px";
    }
     function showModel(id) {

        document.getElementById('myModel_'+id).style.display = 'block';
    }
    function closeModel(id) {
        document.getElementById('myModel_'+id).style.display = 'none';
    }


    function detail(path){
 
        layer.open({
            type: 1 //此处以iframe举例
            ,title: '支付凭证'
            ,area: ['400px', '400px'] //窗体尺寸
            ,shade: 0
            ,maxmin: true
            ,offset: [ //坐标
              $(window).height()/2-200
              ,$(window).width()/2-200
            ] 
            ,content: "<div align='center'><img src='"+path+"' width='300px' margin-left='50px'></div>"
           
      });
    }
</script>
{/block}
{block name="script"}

