{extend name="common:cssjs" /}
{block name="content"}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form method="POST" class="form-horizontal" target="ajaxR">
                    <input type="hidden" name="id" value="{$info ? $info['id'] : 0}">
                    <div class="form-group"><label class="col-sm-3 control-label">会员手机号：</label>
                    <div class="col-sm-5"><input type="text" id="mobile" name="mobile" class="form-control" value="{$info['mobile']}" readonly="readonly"></div>
                    </div>

                    <div class="form-group"><label class="col-sm-3 control-label">账户金额：</label>
                        <div class="col-sm-6">
                            <select id="type" style="height:35px;width:23%;display:inline-block;">
                                <option value="0" checked>充值：</option>
                            </select>
                            <input type="text" id="money" class="form-control" style="float:right;width:76%;" value="{$info['amount']}">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="3" id="desc" name=textarea></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-2" style="padding-left:20%;">
                            <button class="btn btn-primary" type="button" onclick="save({$info.id});">保存</button>
                            <button class="btn btn-white" type="button" onclick="cancel();">取消</button>
                        </div>
                    </div>
                </form>
                <iframe name="ajaxR" style="display:none;width:100%;height:300px;"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    function save(id){
        var mobile = $('#mobile').val();
        var type = $('#type').val();
        var money = $('#money').val();
        var desc = $('#desc').val();
        var p = /^([1-9]\d*|0)(\.\d{1,2})?$/;

        if(!mobile){
            layer.msg('请输入会员手机号',{icon:5});
            return false;
        }
        if(!p.test(money)){
            layer.msg('请输入正确的金额',{icon:5});
            return false;
        }
        if(!desc){
            layer.msg('请输入备注',{icon:5});
            return false;
        }


        $.ajax({
            type: "post", 
            url : "/admin/users/sub_recharge",
            dataType:'json',
            data: "desc="+desc+"&id="+id,

            success: function(json){

                if(json.flag==1){
                    layer.msg(json.msg);
                    setTimeout(function(){
                        var index=parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                         
                    },3000);
                    
                   
                }else{
                    layer.msg(json.msg);
                    
                }
            }
        });









    }



    function error(msg){
        layer.msg(msg,{icon:5});
    }


    function cancel(){


    }


    function success(){
        layer.msg('保存成功！正在跳转...',{icon:6});
        setTimeout(function(){
            parent.openClose();
        },1000);
    }

</script>
{/block}