{extend name="common:base" /}
{block name="content"}
<style>
    .table thead tr th{
        text-align: center;
    }
    .red{
        color:red;
    }
</style>
<link rel="stylesheet" type="text/css" href="__STATIC__/layui/src/css/layui.css"/>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>提现审核通过列表</h5>
                    <a style="float:right; font-size:12px;padding-right: 20px;" href="javascript:void(0);" onclick="javascript:window.location.replace(location.href);"><i class="glyphicon glyphicon-refresh"></i></a>
                    <h5 style="float:left; font-size:12px;padding-left: 20px;">成功提现总额：{$total}</h5>
                </div>
                <div class="ibox-content" method="GET">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputEmail2" class="sr-only">会员昵称</label>
                            <input type="text" placeholder="请输入会员昵称" name="name" id="name"
                                    class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2" class="sr-only">手机号</label>
                            <input type="text" placeholder="请输入手机号" name="mobile" id="mobile"
                                    class="form-control" value="">
                        </div>
                        <button class="btn btn-white" type="submit">搜索</button>
                        <a class="btn btn-default" onclick="cls()">清空</a>
                    </form>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover table-bordered text-center">
                        <thead>
                            <tr>
                                <th width="60">ID</th>
                                <th width="100">提现单号</th>
                                <th width="100">用户名称</th>
                                <th width="100">手机号</th>
                                <th width="100">提现金额</th>
                                <th width="100">提现账号</th>
                                <th width="100">提现时间</th>
                                <th width="100">状态</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.ordersn}</td>
                                <td>{$vo.nickname}</td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.amount}</td>
                                <td><button onclick="detail({$vo.uid},{$vo.type})">查看详情</button></td>
                                <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
                                <td>审核通过</td>
                                <td>--</td>    
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
</div>
<div align="center">{$page}</div>
<script type="text/javascript">
    function cls(){
        
       $("input").val("").focus(); // 清空并获得焦点     


    }
    function confirms(id,type){

        // layer.msg(type);
        layer.confirm('提现审核确认？',{icon:3},function(index){

            //击确认后的业务流程

            $.ajax({
                type: "post", 
                url : "/admin/users/tixian",
                dataType:'json',
                data: "id="+id,
 
                success: function(json){

                    if(json.flag==1){
                        layer.msg(json.msg);
                        location.reload();
                    }else{
                        layer.msg(json.msg);
                        
                    }
                }
            });

        })

    }
    function detail(id,type){
       if(id=='' ){
            layer.msg('参数错误');
            return false;
       }

        $.ajax({
            type: "post", 
            url : "/admin/users/ajax_account",
            dataType:'json',
            data: "id="+id+"&type="+type,

            success: function(json){

                if(json.flag==1){
                    layer.open({
                        type: 1 
                        ,title: '提现账户'
                        ,area: ['400px', '400px'] //窗体尺寸
                        ,shade: 0
                        ,maxmin: true
                        ,offset: [ //坐标
                          $(window).height()/2-200
                          ,$(window).width()/2-200
                        ] 
                        ,content: json.data,
                       
                    });
                }else{
                    layer.msg(json.msg);
                    
                }
            }
        });







    }

    function cancel(id){
        layer.confirm('提现审核确认？',{icon:3},function(index){

            //击确认后的业务流程

            $.ajax({
                type: "post", 
                url : "/admin/users/cancel_tx",
                dataType:'json',
                data: "id="+id,
 
                success: function(json){

                    if(json.flag==1){
                        layer.msg(json.msg);
                        location.reload();
                    }else{
                        layer.msg(json.msg);
                        
                    }
                }
            });

        })

    }

    function success(){
        layer.msg('保存成功！正在跳转...',{icon:6});
        setTimeout(function(){
            parent.openClose();
        },1000);
    }    

</script>
{/block}
{block name="script"}

