<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <script src="__STATIC__/chatWeb/js/public/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public.css">
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/public/public_head.css">
    <link rel="stylesheet" href="__STATIC__/chatWeb/css/mail_list/course.css">
    <title>充值教程</title>
</head>
<body>
    <div class="wrap_frame">
        <!--public head-->
        <div class="lb_headWrap">
            <p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                <img class="lb_headWrap_return_img" src="__STATIC__/chatWeb/img/public/left.png"/>
            </p>
            <span>充值教程</span>
        </div>
        <div class="course_item">
            <img class="course_item_img" src="__STATIC__/chatWeb/img/00008-⑨.png" alt="">
        </div>
    </div>
    <script src="__STATIC__/chatWeb/js/public/jquery-1.8.3.js"></script>
    <script src="__STATIC__/chatWeb/js/public/public.js"></script>
</body>
</html>